.row {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  padding: 0;
  margin: 0;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 150px; /* Set a fixed height for the images */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* .col-lg-3, .col-md-4, .col-sm-6 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
} */

.empty-wishlist-message {
  margin-top: 20px;
}

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (max-width: 767px) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.container {
  overflow-x: hidden; /* Prevent horizontal scroll */
}
