.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .product-details {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-image img {
    max-width: 100%;
    height: auto;
  }
  
  .sub-images img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .sub-images img:hover {
    border: 2px solid #000;
  }
  
  .product-info {
    margin-top: 20px;
  }
  
  .product-info .price,
  .product-info .discount,
  .product-info .availability,
  .product-info .stock,
  .product-info .sold,
  .product-info .description {
    margin-bottom: 10px;
  }
  